Import Mill

In [1]:
from millclient import *

Create channel and client
MillService should be runing on locahost:9099 TLS must be disabled

In [2]:
channel = Channel(host = "localhost", port = 9099)
client = create_client(channel=channel)

Create query and execute to pandas
In notebooks only async version of methods can be used

In [9]:
q1 = await client.sql_query(sql = "SELECT * FROM `airlines`.`passenger` ", fetch_size = 10).to_pandas_async()
display(q1.head(10))

,id,first_name,last_name,domicile_address,domicile_city_id,age
0,7786514,Amber,Mueller,"91566 Barrett Villages\nPort Ericmouth, VT 08415",377687,44
1,1388216,Nicholas,Collier,"57246 Amanda Ford Apt. 317\nWest Tara, VT 57681",424085,51
2,9279837,Lawrence,James,"2561 Steven Pass\nJuliechester, MN 58145",374079,24
3,9813527,Catherine,Diaz,"43339 Hess Summit\nSchmidtside, ME 59213",490603,38
4,6473243,Danny,Rodgers,"018 Sara Valley\nSouth Deborah, AL 31960",439196,14
5,2777938,William,Campbell,"80965 Sheila Station\nNathanmouth, CO 29293",194334,23
6,4543282,Tyler,Oliver,"4057 Todd Unions Suite 478\nWest Brian, NE 01775",490603,68
7,9309584,Stephen,Walker,"98284 Kyle Place\nChavezton, VI 68233",374079,75
8,6139045,James,Stewart,21156 Rebecca Parkway Apt. 632\nNorth Christin...,374079,24
9,3549641,Ruth,Cooper,"1564 Fowler Street Apt. 142\nWalkerborough, NV...",394878,36

In [10]:
q = client.sql_query(sql = "SELECT c.`id` AS `city_id`, p.`id` as `passenger_id`, c.*, p.`domicile_city_id` as `passenger_city_id` FROM `airlines`.`cities` c inner join `airlines`.`passenger` p ON c.`id` = p.`domicile_city_id`" , fetch_size = 10)
pd = await q.to_pandas_async()
display(pd.head(10))

,city_id,passenger_id,id,state,city,population,airport,airport_iata,passenger_city_id
0,194334,2777938,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
1,194334,3715191,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
2,194334,9722225,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
3,194334,3903379,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
4,194334,2081655,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
5,194334,6358398,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
6,194334,8096705,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
7,194334,7056523,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
8,194334,6736465,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334
9,194334,7120883,194334,Montana,East Stephen,2192888,El Plumerillo airport,KWE,194334